<form>
    First name: <input type="text" name="firstname" value="{{firstName}}"><br>
    Last name: <input type="text" name="lastname" value="{{lastName}}">
    <input type="button" id="buttonId" name="buttonName" value="save">
</form>