<div id="profilePage" name="profileName" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Profile</h3>
    </div>
    <div class="panel-body">
        <form id="profileFormId" name="profileFormName">
            <table>
                <tr>
                <td>First name:</td><td><input type="text" class="text" name="firstname" value="{{firstName}}"></td>
                </tr>
                <tr>
                <td>Last name:</td><td><input type="text" class="text" name="lastname" value="{{lastName}}"></td>
                </tr>
                <tr>
                    <td>Phone:</td><td><input type="text" class="text" name="phone" value="{{phone}}"></td>
                </tr>
                <tr>
                    <td>email:</td><td><input type="text" class="text" name="email" value="{{email}}"></td>
                </tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td><input type="button" class="btn pull-right" id="saveButtonId" name="saveButtonName" value="save"></td>
                </tr>
            </table>
        </form>
    </div>
</div>