<div id="profilePage" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Profile</h4>
            </div>
            <div class="modal-body">
                <form id="profileForm">
                    <table>
                        <tr>
                            <td>First name</td><td></td><td><input type="text" class="text" name="firstname" value="{{firstname}}"></td>
                        </tr>
                        <tr>
                            <td>Last name</td><td></td><td><input type="text" class="text" name="lastname" value="{{lastname}}"></td>
                        </tr>
                        <tr>
                            <td>Phone</td><td></td><td><input type="text" class="text" name="phone" value="{{phone}}"></td>
                        </tr>
                        <tr>
                            <td>email</td><td></td><td><input type="text" class="text" name="email" value="{{email}}"></td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td></td><td><input type="hidden" class="text" name="_id" value="{{_id}}"></td>
                            <td>{{_id}}</td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btnSaveProfile" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

